html{
	height:100%;
	background: url(../resources/guitar_background.jpg) no-repeat center center fixed;
	background-repeat:repeat-y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
	height:100%;
	width: 95%;
	margin: auto;
	background-color:transparent;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#wrapper {
	min-height: 100%;
	overflow: auto;
}
.leftAd{
	position:absolute;
	left:50px;
	width:160px;
	height: 600px;
	border:1px solid white;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
#main {
	position: absolute;
	left: 10%;
	overflow:auto;
	margin-left: 200px;
	padding-bottom: 300px;
	width:50%;
	height:300px;
	background-color: #fcfcfc;
	border:1px dashed #fcfcfc;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;

	-moz-box-shadow: 2px 2px 3px #888;
	-webkit-box-shadow: 2px 2px 3px #888;
	box-shadow: 2px 2px 3px #888;

	z-index: 1;
}
.rightAd{
	position: absolute;
	right:50px;
	width:160px;
	height: 600px;
	border: 1px solid white;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
#main h3{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 5px 0px -10px 20px;
}

header{
	margin-top: 20px;
	margin-bottom: 20px;
	height:auto;
	background-color: #fcfcfc;
	border:1px solid white;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;

	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 2px 2px 3px #888;
}
header img.whatKeyLogo{
	width:100%;
	height: 100px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
header h1{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-left: 20px;
}

nav{
	width: 100.1%;
	height: 32px;

	text-align: center;

	margin-top:0px;
	margin-bottom: 20px;
	margin-left: -1px;

	padding:  6px 0px;
}
header nav{
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 56%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(56%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 56%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 56%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 56%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 56%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
nav ul{
	margin-top: auto;
	margin-bottom: auto;
	width: 70%;
	/*border: 2px dashed yellow;*/
	float:left;
}
nav ul#fretBoardUL{
	width: 20%;
}
nav ul li{
	display:inline-block;
	vertical-align: top;
	text-align: center;

	margin-left: 5px;

	background-color:#2485db;

	border-radius:5px;
	-moz-border-radius: 5px;
	padding:3px 8px;

	font-size: 20px;

}
nav ul.links li:first-child{
	margin-left: 35%;
}
nav ul li#fretBoardLink, nav ul li#keyBoardLink{
	font-style: italic;
	font-weight: bold;
	background-color: white;
	border:1px solid black;
}
nav ul li#fretBoardLink a, nav ul li#keyBoardLink a{
	color: black;
}
nav ul li a{
	text-decoration: none;
	color:white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
nav ul li a:hover{
	text-decoration: underline;
}

div.leftDivs{
	width: 350px;

	background-color: #c0c9cd;

	border-radius: 3px;
	-moz-border-radius: 3px;

	margin-bottom: 20px;
	margin-left: 20px;
}
div.leftDivs p, div.leftDivs table{
	padding-left: 20px;
}
div#chordInputDiv{
	margin: auto;
	margin-top: 20px;
	width: 90%;
	padding-top: 10px;
	padding-bottom: 1px;

}
form#chordInputForm input{
	border-radius: 2px;
	-moz-border-radius: 2px;
}
div#chordInputDiv p{

}
a#addAChord, a#removeChord{
	text-decoration: none;
}
form#chordInputForm #getKey{
	color: red;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

div#errorDiv p#errorP{
	color:navy;
	font-weight: bold;
}

div .outputDivs{
	margin: auto;
	width: 90%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom:20px;
}

div#giveKeys .outputKey{
	display: inline-block;
}
div#giveKeys .outputKey a{
	text-decoration: none;
	color: black;
}
div#giveKeys .outputKey a:hover{
	font-weight: bold;
}
div#giveKeys p#outputKeyPara{
	margin-bottom: 20px;
}

span.activeKey {
	background:white;
	border:1px solid white;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

footer{
	position: relative;
	bottom: 75px;
}
footer nav{
	margin-top:0px;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
}
footer p{
	margin-top:-5px;
	font-size:10px;
	color:white;
}
iframe#likeButton {
	position: absolute;
	left: 28%;
	top: 825px;
	z-index: 10;
}

.aboutP{
	width: 90%;
	margin-left: 20px;
}
#main h2{
	margin-left: 20px;
}

/*Div to hold the guitar*/
div#guitarPop{
	height:400px;
	width: 1075px;
	border:5px solid white;
	background-color: black;

	position: absolute;
	left:0;
    right:0;
    top:0;
    bottom:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;

	z-index: 2;

	display: none;
}

/*Links to fretBoard and keyBoard on the guitar Pop*/
#guitarPopFretKeyLinkUL{
	width: 250px;
	position: absolute;
	right: 5px;
	top: 0px;
	/*border: 1px dashed yellow;*/
}

#guitarPopFretKeyLinkUL li{
	font-style: italic;
	font-weight: bold;
	color: white;
	/*background-color: white;*/
	/*border:1px solid black;*/

	display:inline-block;
	vertical-align: top;
	text-align: center;
/*
	background-color:#2485db;

	border-radius:5px;
	-moz-border-radius: 5px;
	padding:3px 8px;*/

	font-size: 20px;
}

#guitarPopFretKeyLinkUL li a{
	color: white;
	text-decoration: none;
}

#guitarPopFretKeyLinkUL li a:hover{
	text-decoration: underline;
}

/*Container for the fretboard and keyBoard*/
div#guitarPop #fretBoard, #keyBoard{
	position: absolute;
	top:0;
	bottom:0;
	margin-top: auto;
	margin-bottom: auto;

	height: 175px;
	/*border:1px dashed yellow;*/
	display: none;
}
div#guitarPop #fretBoard{
	margin-left: 30px;
}
div#guitarPop #keyBoard{
	margin-left: 150px;
}
/*Each vertical fret*/
div#guitarPop .fret{
	width: 50px;
	height:152px;
	float:left;
	background-color: white;
	border:1px solid black;
}
/*The label over each fret*/
div#guitarPop .fretLabel{
	height: 20px;

	background-color: black;

	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: white;
}
/*The width of the tunerFret*/
div#guitarPop #tunerFret {
	width: 75px;
}
/*Fretboxes on the tunerFret*/
div#guitarPop #tunerFret #testString {
	/*background-color: green;*/
}
/*The note circles on the tunerFret*/
div#guitarPop .tunerNote {
	/*background-color: yellow;*/
	position: relative;
	left: 25px;
	top:-27px;

	width: 17px;
	height: 17px;
	
	background-color: gray;	
/*	background: rgb(181,189,200);
	background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1)));
	background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
	background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
	background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
	background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );
*/

	border:1px solid black;
	border-radius: 10px;
	-moz-border-radius: 10px;

	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: blue;
}

/*Height and width of both arrows*/
div#guitarPop div.upArrowDiv, div#guitarPop div.downArrowDiv {
	position: relative;
	height: 17px;
	width: 17px;
	/*background-color: yellow;*/
	/*border:2px solid red;*/

}
/*Container div for the up arrow*/
div#guitarPop div.upArrowDiv{
	left: 3px;
	top:-10px;
}
/*Container div for the down arrow*/
div#guitarPop div.downArrowDiv{
	left: 50px;
	top:-45px;
}

/*Width of the tuner arrow imgs*/
img.upArrow, img.downArrow{
	width: 17px;
	height: 16px;
}

/*Each horizontal space on each fret*/
div#guitarPop .string{
	height:20px;
	background-color: white;
	border:1px solid black;
}
/*The circle on each string*/
div#guitarPop .note{
	position: relative;
	top:-10px;
	left: 15px;

	width: 17px;
	height: 17px;
	
	background-color: gray;	
/*	background: rgb(181,189,200);
	background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1)));
	background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
	background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
	background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
	background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );
*/

	border:1px solid black;
	border-radius: 10px;
	-moz-border-radius: 10px;

	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: blue;

	display: none;
}
div#guitarPop .activeNote{
	display: block;
}

/*KeyBoard*/


/*White Piano Keys*/
div#guitarPop .whitePianoKey{
	width: 50px;
	height:152px;
	float:left;
	background-color: white;
	border:1px solid black;
}
/*White Piano Notes*/
div#guitarPop div.whitePianoNote{
	position: relative;
	top: 120px;
	left: 15px;

	width: 22px;
	height: 22px;
	
	background-color: gray;	
	border:1px solid black;
	border-radius: 20px;
	-moz-border-radius: 20px;

	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: blue;

	/*display: none;*/
}

/*Black Piano Keys*/
div#guitarPop div#db{
	width: 30px;
	height:100px;
	position: absolute;
	background-color: black;
	border:1px solid black;
	left: 36px;
}
div#guitarPop div#eb{
	width: 30px;
	height:100px;
	position: absolute;
	background-color: black;
	border:1px solid black;
	left: 87px;
}
div#guitarPop div#gb{
	width: 30px;
	height:100px;
	position: absolute;
	background-color: black;
	border:1px solid black;
	left: 190px;
}
div#guitarPop div#ab{
	width: 30px;
	height:100px;
	position: absolute;
	background-color: black;
	border:1px solid black;
	left: 242px;
}
div#guitarPop div#bb{
	width: 30px;
	height:100px;
	position: absolute;
	background-color: black;
	border:1px solid black;
	left: 296px;
}
div#guitarPop div#highdb{
	width: 30px;
	height:100px;
	position: absolute;
	background-color: black;
	border:1px solid black;
	left: 398px;
}
div#guitarPop div#higheb{
	width: 30px;
	height:100px;
	position: absolute;
	background-color: black;
	border:1px solid black;
	left: 452px;
}
div#guitarPop div#highgb{
	width: 30px;
	height:100px;
	position: absolute;
	background-color: black;
	border:1px solid black;
	left: 555px;
}
div#guitarPop div#highab{
	width: 30px;
	height:100px;
	position: absolute;
	background-color: black;
	border:1px solid black;
	left: 607px;
}
div#guitarPop div#highbb{
	width: 30px;
	height:100px;
	position: absolute;
	background-color: black;
	border:1px solid black;
	left: 659px;
}
/*END Black Piano Keys*/

/*Black Piano Notes*/
div#guitarPop div.blackPianoNote{
	position: relative;
	top: 60px;
	left: 4px;

	width: 20px;
	height: 20px;
	
	background-color: gray;	
	border:1px solid black;
	border-radius: 20px;
	-moz-border-radius: 20px;

	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: blue;

	/*display: none;*/
}

div#guitarPop h3#fretBoardHeader{
	position: absolute;
	left: 15px;
	color:white;
}

div#guitarPop div#guitarLegend {
	position: absolute;
	left:5px;
}
div#guitarPop div#guitarLegend p{
	/*text-align: center;*/
}
div#guitarPop div#closeGuitarPop p{
	height: 14px;
	width: 14px;

	position: absolute;
	right:5px;
	top: -7px;
	border: 1px solid white;

	text-align: center;
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	color:white;
}
div#guitarPop div#guitarLegend p:hover{
	background:gray;
	border:1px solid gray;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
div#guitarPop div#guitarLegend p a , div#guitarPop div#closeGuitarPop p a{
	color:white;
	text-decoration: none;
}

div#guitarPop div#fretBoardSelectKey ul{
	position: absolute;
	bottom: 10px;
	left: 10px;
	color:white;
}
div#guitarPop div#fretBoardSelectKey p{
	position: absolute;
	bottom: 60px;
	left: 30px;
	color:white;
}
div#guitarPop div#fretBoardSelectKey ul li{
	display: inline-block;
	color:white;
}
div#guitarPop div#fretBoardSelectKey ul li a.fretBoardSelectedKey{
	display: inline-block;
	color:white;
	font-weight: bold;
	background-color: gray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border:1px solid gray;
}
div#guitarPop div#fretBoardSelectKey ul li a{
	color:white;
	text-decoration: none;
}
div#guitarPop div#fretBoardSelectKey ul li a:hover{
	text-decoration: underline;
}


p#testP{
	background-color: yellow;
}